.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 65px;
    
    @media (max-width: $md3+px){
        min-height: 5px;
    }

        .header__body{
            min-height: 40px;
            @media (min-width: $md2+px){
                min-height: 70px;
            }
        }
  

    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
        background-color: $white;
        transition: all .3s ease-in-out;
    }

   

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0 0;
        min-height: 40px;
        position: relative;
        transition: all .3s ease-in-out;

        @media (max-width: $md2+px){
           min-height: 80px;
        }
        @media (max-width: $md3+px){
            min-height: 50px;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        flex: 0 0 494/1230 * 100%;

        @media (max-width: $md2+px){
           flex: 1 1 auto;
        }
    }

    &__logo {
        transition: transform .6s;
        
        &:hover{
            transform: scale(1.5);
        }
    }

}


